Options +FollowSymLinks
Options -Indexes
DirectoryIndex index.html index.php
<IfModule mod_rewrite.c>
    RewriteEngine On  

    # Si es un archivo o directorio existente, no aplicar reglas
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirigir todo a index.php
    RewriteRule ^(.*)$ index.php?/$1 [L,QSA]
</IfModule>

